.DS_Store
/.build
/Packages
/dist
/site/node_modules
/site/dist
/site/.astro
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
